* {
    box-sizing: border-box;
  }
  
  html,
  body,
  canvas {
    width: 100%;
    max-height: 100vh;
    max-width: 100wh;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .start-button{
    background-color: transparent;
    border-radius: 10px;
    padding: 0 50px;
    color: darkslategrey;
    font-family: monospace;
    transition: ease-in-out;
    border: 1px solid black;
    border-bottom-color: black;
    border-right-color: black;
    border-top-color: rgb(87, 84, 84);
    border-left-color: grey;
  }

  .start-button:hover{
    cursor: pointer;
    transform: translateX(3.5px);
    transition: 0.5s;
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: rgb(87, 84, 84);
    border-right-color: grey;
  }

